
$txt-xxsmall: 10px;
$txt-xsmall: 12px;
$txt-small: 16px;
$txt-medium: 20px;
$txt-large: 24px;
$txt-xlarge: 36px;

$page-width: 1325px;
$content-width: 90%;

$link-color: lightblue;
$link-hover-color: lightskyblue;


* {
	margin: 0;
	padding: 0;
	border: 0;
}



.gameboard {

	margin: 50px;
	
	.game-row {

		.game-cell {
			width: 25px;
			height: 25px;
			border: 1px solid black;
			background-color: yellow;
//			display: inline-block;
			float: left;

			&:first-child {
				clear: both;
			}
		}
	}

}

